@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
:root{
    --font-family:'Unbounded', cursive;

    --gradient-text:linear-gradient(90deg, rgb(5, 1, 67) 3%, rgba(9,9,121,1) 13%, rgba(0,212,255,1) 100%);
    --gradient-bar:linear-gradient(103deg, rgba(2,0,36,1) 13%, rgba(9,9,121,1) 33%, rgb(3, 149, 178) 73%);


    --color-bg: #040c18;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #97c2ed;
    --color-subtext: #3cd6fd;
    --blue-text:rgba(38, 101, 156, 0.831);
}
